<section class="mt-5 mb-5">
    <div class="container ">
        <div class="row ">
            <div class="cars col-sm-12 col-md-12 col-lg-6">
                <div class="card mb-3 shadow-lg">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <h6 class="titulo text-center mt-2 ">El Cuatro Net</h6>
                            <ul>
                                <li>
                                    <h6 class="fw-semibold">+ 50 Megas</h6>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body ">
                                <h5 class="card-title text-center fs-3 fw-bolder border-bottom border-3 mb-3 ">$2570 <span class="fs-6 ">final por mes</span></h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-wifi"></i> 50 Megas Wifi</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-speedometer2"></i> velocidad de descarga</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-headset"></i> servicio tecnico</h5>
                                <a href="" [routerLink]="['/el-cuatro-net']" routerLinkActive="router-link-active" class=" btn rounded-pill ms-5 text-white fw-semibold">¡Lo quiero!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card mb-3 shadow-lg">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <h6 class="titulo text-center mt-2 ">El Cuatro Net</h6>
                            <ul>
                                <li>
                                    <h6 class="fw-semibold">+ 100 Megas</h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body ">
                                <h5 class="card-title text-center fs-3 fw-bolder border-bottom border-3 mb-3 ">$2990 <span class="fs-6 ">final por mes</span></h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-wifi"></i> 100 Megas Wifi</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-speedometer2"></i> velocidad de descarga</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-headset"></i> servicio tecnico</h5>
                                <a href="" [routerLink]="['/el-cuatro-net']" routerLinkActive="router-link-active" class=" btn rounded-pill ms-5 text-white fw-semibold">¡Lo quiero!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="cards card mb-3 shadow-lg">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <h6 class="titulo text-center mt-2 ">Combo Full 100 Megas</h6>
                            <ul>
                                <li>
                                    <h6 class="fw-semibold">El Cuatro Go</h6>
                                </li>
                                <li>
                                    <h6 class="fw-semibold">+ 100 Megas</h6>
                                </li>
                                <li>
                                    <h6 class="fw-semibold">+ El Cuatro Tv</h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body ">
                                <h5 class="card-title text-center fs-3 fw-bolder border-bottom border-3 mb-3 ">$6040 <span class="fs-6 ">final por mes</span></h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-google-play"></i> App Go</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-tv"></i> TV Cable Básico</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-badge-hd"></i> 40 Señales Básico</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-wifi"></i> 100 Megas Wifi</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-speedometer2"></i> velocidad de descarga</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-headset"></i> servicio tecnico</h5>
                                <a href="" [routerLink]="['/combo-dou-100']" routerLinkActive="router-link-active" class=" btn rounded-pill ms-5 text-white fw-semibold">¡Lo quiero!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="cards card mb-3 shadow-lg" style="max-width: 540px; height: 280px;">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <h6 class="titulo text-center mt-2 ">Combo Full 100 Megas</h6>
                            <ul>
                                <li>
                                    <h6 class="fw-semibold">+ 100 Megas</h6>
                                </li>
                                <li>
                                    <h6 class="fw-semibold">+ El Cuatro Tv</h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body ">
                                <h5 class="card-title text-center fs-3 fw-bolder border-bottom border-3 mb-3 ">$5100 <span class="fs-6 ">final por mes</span></h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-tv"></i> TV Cable Básico</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-badge-hd"></i> 40 Señales Básico</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-wifi"></i> 50 Megas Wifi</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-speedometer2"></i> velocidad de descarga</h5>
                                <h5 class="fw-light fs-6"><i class="bi bi-headset"></i> servicio tecnico</h5>
                                <h5></h5>
                                <a href="" [routerLink]="['/combo-dou-100']" routerLinkActive="router-link-active" class=" btn rounded-pill mt-4 text-white fw-semibold">¡Lo quiero!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>