<div class="section">
    <div class="container my-3">
        <div class="row justify-conte">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="row ms-5 mt-5">
                    <div class="col-sm-12 col-lg-10 ">
                        <h1 class="fw-bold">Internet</h1>
                        <h1 class="fw-bold">para tu casa</h1>
                        <h1 class="fw-bold">o tu negocio</h1>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-10 mt-4">
                        <p class="fs-5 ">Conestate a todo lo que querés con la <br>
                            <span class="fw-bold">FIBRA OPTICA </span>de El Cuatro
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-12 fs-5 fw-bold ">
                        Conectá todos tus dispositivos <img src="assets/img/internet-para-casa-dispositivos.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img class="d-flex " src="assets/img/internet_en_casa.png" alt="">
            </div>
        </div>
    </div>
</div>