<section class=" cars container mt-5">
    <!--se hace un bindeo unidireccional-->
    <h3 class="fw-medium text-center mb-5 fs-2">{{titulo}}</h3>
    <div class="row">
        <div class="col">
            <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fs-5 ms-2">El Cuatro Net</h5>
                    <h1 class="card-text ms-2 fs-6 mb-5">100 Megas</h1>
                    <h3 class="card-text fw-bolder ms-2 ">$ 2990</h3>
                    <a href="" class="btn d-grid gap-2 mt-4 text-white rounded-pill" [routerLink]="['/el-cuatro-net']" routerLinkActive="router-link-active" >¡Lo quiero!</a>
                    <a href="" ></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fs-5 ms-2">El Combo Duo</h5>
                    <h1 class="card-text ms-2 fs-6">50 Megas</h1>
                    <h1 class="card-text ms-2 fs-6 mb-4">+ El Cuatro Tv</h1>
                    <h3 class="card-text fw-bolder ms-2 ">$ 5100</h3>
                    <a href="#" class="btn d-grid gap-2 mt-4 text-white rounded-pill" [routerLink]="['/combo-dou']" routerLinkActive="router-link-active" >¡Lo quiero!</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fs-5 ms-2">Combo full 100 Megas</h5>
                    <h5 class="card-text ms-2 fs-6">El Cuatro Go</h5>
                    <h5 class="card-text ms-2 fs-6">+100 Megas</h5>
                    <h5 class="card-text ms-2 fs-6">+El Cuatro Tv</h5>
                    <h3 class="card-text fw-bolder ms-2 ">$ 6040</h3>
                    <a href="#" class="btn d-grid gap-2 text-white rounded-pill" [routerLink]="['/combo-dou-100']" routerLinkActive="router-link-active" >¡Lo quiero!</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fs-5 ms-2">Combo Full 300 Megas</h5>
                    <h1 class="card-text ms-2 fs-6">El Cuatro Go</h1>
                    <h1 class="card-text ms-2 fs-6">+ 300 Megas</h1>
                    <h1 class="card-text ms-2 fs-6">+ El Cuatro Tv</h1>
                    <h3 class="card-text fw-bolder ms-2 ">$ 7249</h3>
                    <a href="#" class="btn d-grid gap-2 text-white rounded-pill" [routerLink]="['/combo-dou-300']" routerLinkActive="router-link-active">¡Lo quiero!</a>
                </div>
            </div>
        </div>
    </div>
</section>