<div class="row">
    <div class="container">
        <div class="row p-4 mt-5 mb-5 text-white">
            <div class="col-12 col-md-6 col-lg-6 p-1">
                <ul>
                    <li>
                        <h1 class="red mb-3">EL CUATRO NET</h1>
                    </li>
                    <li>
                        <h1 class="fs-5 fw-bold mb-3">Compartí todo lo que quieras.
                            Navegá rápido sin interrupciones.
                            ¡Sumate a la internet de El Cuatro!</h1>
                    </li>
                    <li>
                        <h1 class="fs-5 fw-light">*Ver bases y condiciones en <span class="text-black fw-bolder">www.elcuatro.com</span></h1>
                    </li>
                </ul>
            </div>
            
            <div class="col-12 col-md-6 col-lg-6 p-1">
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Nombre y Apellido">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Telefono">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="E-mail">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Domicilio">
                </div>

            </div>
        </div>
    </div>
</div>