<div class="container mb-5">
    <div class="row">
        <h2 class="accordion-header text-center fw-medium text-center mt-3 fs-2 mb-4"> Productos </h2>
            <div class="col-md-4 col-ms-12 internet text-white rounded-start shadow-lg bg-body-tertiary ">
                <h1 class="internet text-center">
                    <span class="fs-3 me-4">Internet</span><svg xmlns="http://www.w3.org/2000/svg" width="26"
                        height="26" fill="currentColor" class=" me-3 bi bi-router-fill" viewBox="0 0 16 16">
                        <path
                            d="M5.525 3.025a3.5 3.5 0 0 1 4.95 0 .5.5 0 1 0 .707-.707 4.5 4.5 0 0 0-6.364 0 .5.5 0 0 0 .707.707Z" />
                        <path
                            d="M6.94 4.44a1.5 1.5 0 0 1 2.12 0 .5.5 0 0 0 .708-.708 2.5 2.5 0 0 0-3.536 0 .5.5 0 0 0 .707.707Z" />
                        <path
                            d="M2.974 2.342a.5.5 0 1 0-.948.316L3.806 8H1.5A1.5 1.5 0 0 0 0 9.5v2A1.5 1.5 0 0 0 1.5 13H2a.5.5 0 0 0 .5.5h2A.5.5 0 0 0 5 13h6a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5h.5a1.5 1.5 0 0 0 1.5-1.5v-2A1.5 1.5 0 0 0 14.5 8h-2.306l1.78-5.342a.5.5 0 1 0-.948-.316L11.14 8H4.86L2.974 2.342ZM2.5 11a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm4.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm1.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Z" />
                        <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
                    </svg>
                </h1>
                <div class="row mt-2">
                    <div class="col-md-6 col-ms-12 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-tv" viewBox="0 0 16 16">
                            <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                          </svg>
                        <h1>NET</h1>
                    </div>
                    <div class="col-md-6 col-ms-12 text-center">
                        <ul >
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom">500 Megas</h1></section>
                            </li>
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom">300 Megas</h1></section>
                            </li>
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom">100 Megas</h1></section>
                            </li>
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom">50 Megas</h1></section>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="television col-md-8 col-ms-12 text-white rounded-end shadow-lg bg-body-tertiary">
                <h1 class="text-center tv">
                    <span class="fs-3 me-4">Televisión</span><svg xmlns="http://www.w3.org/2000/svg" width="26"
                        height="26" fill="currentColor" class=" bi bi-tv" viewBox="0 0 16 16">
                        <path
                            d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z" />
                    </svg>
                </h1>
                <div class="row go">
                    <div class="col-md-4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                            <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                          </svg>
                        <h1>Go</h1>
                        <ul >
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom">El Cuatro Go</h1></section>
                            </li>
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom">Pack Fútbol</h1></section>
                            </li>
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom">HBO Pack</h1></section>
                            </li>
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom ">Hot Pck</h1></section>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg>
                        <h1>APPS</h1>
                        <ul>
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom me-4">Apps</h1></section>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-display" viewBox="0 0 16 16">
                            <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"/>
                          </svg>
                        <h1>Tv</h1>
                        <ul>
                            <li class="fs-6 fw-light">
                                <section class=" w-50 mx-auto text-center">
                                <h1 class="fs-6 fw-bold border-bottom me-4">El Cuatro Tv</h1></section>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>

